﻿@{
ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Allt Om Hundar! 🐕</h1>
    <p class="lead">Ett forum för alla hundälskare</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diskutera</h5>
                    <p class="card-text">Dela med dig av tips och erfarenheter om hundar</p>
                    <a class="btn btn-primary" href="/Forum">Gå till forumet</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gemenskap</h5>
                    <p class="card-text">Träffa andra hundägare och skapa vänner</p>
                    <a class="btn btn-success" href="/Account/Register">Registrera dig</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lär dig</h5>
                    <p class="card-text">Få råd om träning, vård och hundgodis</p>
                    <a class="btn btn-primary" href="/Forum">Utforska</a>
                </div>
            </div>
        </div>
    </div>
</div>